    * {
        margin: 0;
        padding: 0;
        list-style: none;
        box-sizing: border-box;
    }
    
    body {
        height: 100vh;
    }
    
    .box {
        width: 100%;
        height: calc(100% - 60px);
        box-sizing: border-box;
        text-align: center;
        overflow: scroll;
    }
    
    .box .top {
        display: flex;
        padding: 15px;
        justify-content: space-between;
        align-items: center;
    }
    
    .box .top div {
        display: flex;
        align-items: center;
    }
    
    a {
        text-decoration: none;
        color: #000;
    }
    
    .box .top img {
        margin-right: 15px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    
    .box .num {
        position: relative;
        width: 90%;
        height: 300px;
        margin: auto;
        color: #fff;
        padding: 15px;
        background-color: rgb(17, 203, 203);
        border-radius: 25px;
        box-shadow: 10px 10px 10px 10px #000 #000000;
    }
    
    .box .tabnum {
        display: flex;
        flex-wrap: wrap;
    }
    
    .box .tabnum li {
        width: 33.3%;
        text-align: left;
        margin: 10px 0;
        padding-left: 20px;
    }
    
    .box .tabnum li div {
        margin: 5px 0;
    }
    
    .box .tabnum li div:nth-child(2) {
        font-weight: 700;
    }
    
    .box .tab {
        position: absolute;
        border-radius: 25px;
        bottom: 0;
        width: 100%;
        left: 0;
        background: #fff;
        display: flex;
        flex-wrap: wrap;
    }
    
    .box .tab li img {
        width: 50px;
        height: 50px;
        margin: 10px 0;
    }
    
    .box .tab li {
        padding: 15px;
        width: 33.3%;
        color: #000;
    }
    
    .box .df {
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }
    
    .box .list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 15px;
    }
    
    .box .list li {
        width: 100%;
        padding: 10px 15px;
        background-color: #fff;
        text-align-last: left;
        border-radius: 15px;
        box-shadow: 0px 5px 5px 0px #ccc;
        margin: 15px 0;
    }
    
    .box .list li div {
        margin: 10px 0;
    }
    
    .box .list li div:nth-child(1) small:last-child {
        margin-left: 240px;
    }
    
    .foot {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        text-align: center;
        flex-wrap: wrap;
    }
    
    .foot li {
        flex: 1;
        background: #fff;
        font-size: 12px;
    }
    
    .foot li img {
        width: 40px;
        height: 40px;
    }
    
    .flag {
        color: red;
    }
    
    .hide {
        display: none;
    }
    
    .boxTwo {
        padding: 20px;
        width: 100%;
        height: calc(100% - 60px);
        box-sizing: border-box;
        overflow: scroll;
    }
    
    .boxTwo input {
        width: 80%;
        height: 40px;
        margin: 8px 0;
        padding-left: 15px;
        border: 1px solid rgb(227, 227, 227);
        color: #666;
    }
    
    .boxTwo img {
        width: 50px;
        height: 50px;
    }
    
    .oneList li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-bottom: 1px solid #ccc;
    }
    
    .oneList li img {
        border-radius: 50%;
        margin: 8px 15px;
    }
    
    .twoList li {
        display: flex;
        align-items: center;
        padding: 15px 0;
        border-bottom: 1px solid #ccc;
    }
    
    .twoList li img {
        border-radius: 50%;
        margin-right: 15px;
    }
    
    .twoList li .twoListBox small:nth-child(1) {
        padding: 3px;
        margin: 3px;
        color: blue;
        background-color: orange;
    }
    
    .twoList li .twoListBox small:nth-child(2) {
        background-color: pink;
        padding: 3px;
        color: red;
    }
    
    .twoList p {
        background: rgb(236, 228, 228);
        padding: 15px;
    }
    
    .twoList {
        position: relative;
    }
    
    .twoList li {
        margin: 15px 0;
        padding: 0;
    }
    
    .twoList .rig {
        position: fixed;
        top: 100px;
        right: 20px;
    }
    
    .boxSan li {
        display: flex;
        padding: 15px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ccc;
    }
    
    .boxSan li div {
        width: 60%;
    }
    
    .boxSan img {
        width: 50px;
        height: 50px;
    }
    
    .boxfour {
        padding: 20px;
    }
    
    .fourBox {
        margin-top: 10px;
        width: 100%;
        height: 200px;
        border-radius: 15px;
        padding: 25px;
        box-shadow: 0 0 5px 5px red;
        background: #fff
    }
    
    .fourTop img {
        width: 60px;
        height: 60px;
        border-radius: 15px;
    }
    
    .fourTop div {
        flex: 1;
        margin-left: 15px;
        line-height: 30px;
    }
    
    .fourTop button {
        width: 080px;
        height: 30px;
        border-radius: 15px;
        border: 0;
        color: #fff;
        background: rgb(158, 183, 120);
    }
    
    .fourTop {
        display: flex;
        justify-content: space-between;
    }
    
    .boxfour p {
        margin: 10px;
        color: #666;
    }
    
    .boxfour li {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border-bottom: 1px solid #ccc;
    }