body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
}

.box {
  width: 100%;
  height: 100%;
}

body {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  display: flex;
  padding: 0 20px;
  min-width: 1024px;
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
  /* background: url(../素材图/title_border.png) no-repeat 0 0 / contain; */
}

.box .itemBox {
  flex: 3;
}

.box .itemBox:nth-child(1) {
  padding: 10px 20px;
}

.box .itemBox:nth-child(2) {
  flex: 4;
  height: 100%;
}

.itemBox .itemLast:nth-child(1) {
  width: 100%;
  height: 130px;
  background: url(../素材图/border_bg01.png) no-repeat center;
  background-size: 98% 130px;
  margin: 0 auto;
  text-align: center;
}

.itemBox .itemLast:nth-child(1) p {
  margin: 20px;
  display: inline-block;
  width: 200px;
  background: url(../素材图/title_bg01.png) no-repeat center;
  color: rgb(15, 131, 241);
}

.itemBox .itemLast:nth-child(1) h3 {
  font-size: 30px;
}

.content {
  background: url(../素材图/box_title.png) no-repeat 0 -8px;
  background-size: 100% auto;
  padding-left: 35px;
  height: 30px;
  line-height: 28px;
  margin: 2px 0;
}

.itemBox .itemLast:nth-child(2) .exs {
  width: 100%;
  height: 240px;
}

.itemBox .itemLast:nth-child(3) {
  height: 500px;
}

table {
  margin-top: 15px;
  width: 100%;

}

th {
  background: rgba(2, 158, 255, .4);
  padding: 5px 0;
}

td {
  border: 1px solid rgb(2, 158, 255);
  height: 70px;
  border-collapse: separate;
}

.box .itemBox:nth-child(2) .titlebox {
  padding: 10px;
}

.box .itemBox:nth-child(2) .titlebox .top {
  display: flex;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  background: url(../素材图/title_border.png) no-repeat center / contain;
  padding: 5px;
}

.box .itemBox:nth-child(2) .titlebox .top img {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-right: 5px;
  margin-top: -15px;
}

.box .itemBox:nth-child(2) .titlebox .center {
  display: flex;
  flex-wrap: nowrap;
}

.center .boxs {
  width: 100%;
  padding-right: 105px;
  box-sizing: border-box;
  height: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 15px;
}

.center .boxs .box1 {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 60px;
  padding: 10px;
  align-items: center;
  border: 1px solid #0f0;
}

.box1 .boxtwo {
  display: inline-block;
  width: 3px;
  height: 60px;
  background-color: #ccc;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.boxs img {
  height: 80px
}

.flex img {
  width: 70px;
  height: 50px;
  margin: 0 15px
}


ul li {
  font-weight: 700;
}

.exs2 {
  width: 100%;
  height: 100%;
}

.exs3 {
  width: 100%;
  height: 33%;
}

.exs4 {
  width: 100%;
  height: 33%;
}

.exs5 {
  width: 100%;
  height: 33%;
}


.itemBox:nth-child(3) {
  padding: 10px;
  box-sizing: border-box;
}